
    
<div class="header">
    <div class="container">
        <nav class="navbar navbar-dark bg-red navbar-expand-md fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>B</em>loomberg</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top"><span class="fa fa-home fa-lg"></span><b> Home</b></a></li>
                    <li><a href="#" class="scroll-link" data-id="about"><span class="fa fa-info fa-lg"></span><b> About Us</b></a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us"><span class="fa fa-address-card fa-lg"></span><b> Contact Us</b></a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us"><span class="fa fa-sign-in fa-lg"></span><b> Login</b></a></li>
                    <li> 
                        <a href="#" class="scroll-link" data-id="contact-us"><span class="fa fa-danger fa-lg"></span>
                            <button type="button" class="btn btn-warning"><b> FOREX LIVE</b></button></a></li>
                         
                </ul>

            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->



<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
          
            
        </div>
    </div>
</div>
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item" >
                        <div class="testimonials-item">
                   <p style="color:#FF0000">
                                <b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                          </b> </p>
                           <h3><b>ECONOMICS</b></h3>
                            <span><b>Italy Might Shake Off Crisis Without Having to Confront Economic Failings</b></span>
                        </div>
                    </div>
                    <div class="item" >
                        <div class="testimonials-item">
                            <p style="color:#FF0000"><b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                          </b> </p>
                           <h3>ECONOMICS</h3>
                            <span>Italy Might Shake Off Crisis Without Having to Confront Economic Failings</span>
                        </div>
                    </div>
                    <div class="item" >
                        <div class="testimonials-item">
                            <p style="color:#FF0000"><b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                          </b> </p>
                           <h3 style="color:blue">ECONOMICS</h3>
                            <span>Italy Might Shake Off Crisis Without Having to Confront Economic Failings</span>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="testimonials-item">
                            <p style="color:#FF0000"><b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                            </b> </p>
  
                            <h3>John Henry</h3>
                            <span>New Manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p style="color:#FF0000"><b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                            </b> </p>
                     <h3>Danny Cute</h3>
                            <span>CEO Founder</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p style="color:#FF0000"><b>EUR-USD:VALUE-1.1289 &nbsp; CHANGE-[-0.0005] &nbsp; NET-[-0.04]
                            </b> </p>
  
                            <h3>Richard Beal</h3>
                            <span>CSS Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
