<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>News Posts</h4>
                        <div class="line-dec"></div>
                        <p>Bloomberg Business Week.</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">MARKETS</a></li>
                            <li><a href="#tab2">WORLD</a></li>
                            <li><a href="#tab3">BUSINESS</a></li>
                            <li><a href="#tab4">POLITICS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>
                                    Stocks Advance, Dollar Drops Ahead of Fed Decision: Markets Wrap</h4>
                                <span><a href="#">Markets</a> / <a href="#">Adam Haigh</a> / <a href="#">12 June 2020</a></span>
                                <p>Stocks in Europe advanced along with U.S. equity-index futures after a mixed session in Asia Wednesday as investors awaited the Federal Reserve’s next move on monetary policy. The dollar headed for a three-month low against a basket of peers..</p>
                            </div>
                            <img src="img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>
                                    Wall Street retreats a day after S&P 500 returned to break-even for the year.</h4>
                                <span><a href="#">Markets</a> / <a href="#">Adam Haigh</a> / <a href="#">12 June 2020</a></span>
                                <p>Stocks fell on Tuesday, pulling back after a string of gains that had lifted Wall Street by 6 percent this month.
                                The S&P 500 closed down less than 1 percent. Stocks in Britain, Germany and France were nearly 2 percent lower after a mostly positive day in Asia.</p>
                            </div>
                            
                        </div>
                        
                        <div id="tab2">
                            <img src="img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Coronavirus: Brazil resumes publishing Covid-19 data after court ruling</h4>
                                <span><a href="#">World</a> / <a href="#">David</a> / <a href="#">12 June 2020</a></span>
                                <p>Brazil has restored a website that lists the full data on Covid-19 in the country, just hours after it was ordered to do so by the Supreme Court
                             The health ministry stopped releasing cumulative totals for deaths and cases on Saturday, provoking uproar.</p>
                            </div>
                            <img src="img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Aussie Rules match to host 2,000 spectators</h4>
                                <span><a href="#">Australia</a> / <a href="#">David</a> / <a href="#">12 June 2020</a></span>
                                <p>As we reported earlier, the Australian Football League (AFL) will play its first games since March this weekend amid debate over whether fans should be able to attend.
                                    Chief executive Gillon McLachlan told fans this morning to hope for "announcements" by the week's end..</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Airline Industry Forecast to Suffer Record $84 Billion Loss. </h4>
                                <span><a href="#">Business</a> / <a href="#">Christopher Jasper </a> / <a href="#">12 June 2020</a></span>
                                <p>Airline losses are surging to unprecedented levels expected to be more than three times those following the 2008 global economic slump, according to the industry’s main trade group. The International Air Transport Association on Tuesday predicted carriers will lose a combined $84 billion this year and almost $16 billion in 2021, its first estimate of the hit to earnings since the Covid-19 crisis.</p>
                            </div>
                            <img src="img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Borrowing Costs for India Shadow Banks Finally Start to Fall. </h4>
                                <span><a href="#">Business</a> / <a href="#">Divya Patil </a> / <a href="#">12 June 2020</a></span>
                                <p>Borrowing costs for India’s top-rated shadow financiers declined last month, after the most aggressive economic policies in a decade helped avert a further worsening in the sector during the pandemic. Premiums that investors seek to buy AAA ranked five-year bonds of non-bank financial lenders over government securities declined in May after gaining for three consecutive months. </p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Borrowing costs for India’s top-rated shadow financiers declined last month, after the most aggressive economic policies in a decade helped avert a further worsening in the sector during the pandemic. Premiums that investors seek to buy AAA ranked five-year bonds of non-bank financial lenders over government securities declined in May after gaining for three consecutive months.</h4>
                                <span><a href="#">Politics</a> / <a href="#">Anand Kumar</a> / <a href="#">12 June 2020</a></span>
                                <p>Attacking Congress leader Rahul Gandhi for his sarcastic jibe at the Centre over the ongoing Chinese aggression in Ladakh, Bharatiya Janata Party MP Jamyang Tsering Namgyal, on June 10, highlighted how the Chinese took control of Indian territory during the UPA regime..</p>
                            </div>
                            <img src="img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Desecration of Mahatma Gandhi statue a crime against humanity: India's Ambassador to the US.</h4>
                                <span><a href="#">Politics</a> / <a href="#">Anand Kumar</a> / <a href="#">12 June 2020</a></span>
                             <p>India's Ambassador to the United States, Taranjit Singh Sandhu, on June 9 said the recent desecration of Mahatma Gandhi's statue is a 'crime against humanity'. The statue, located in Washington DC, was vandalised during the ongoing protest against the death of George Floyd.

                                "Gandhi's statue is an iconic monument here. This is a crime against humanity. We immediately reported it to the US State Department and registered cases with the Metropolitan Police and Park police. The matter is under investigation," Sandhu said</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
